<div style="position: fixed; left: 15px; bottom: 0; width: 100%">
  <div class="card-header">
    <p>&#169;Sumit Mondal</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">SUMIT MONDAL</cite>
    </footer>
  </div>
</div>
